<div class="image-component card">
    {% if component.title %}
        <h3 class="card-title">{{ component.title }}</h3>
    {% endif %}
    <div class="card-content">
        
    <img src="./{{ component.content.slug }}.{{ component.content.format }}"
         alt="{{ component.content.alt_text | default(value=component.content.title) | default(value='') }}"
         {% if component.content.display_width %}width="{{ component.content.display_width }}"{% endif %}
         {% if component.content.display_height %}height="{{ component.content.display_height }}"{% endif %}
         loading="lazy">
    </div>
</div>